<body onload="cargarDobleChance()">
    <nav class="navbar">
        <a></a>
        <div class="cont-comodines">
            @if(ViewBag.jug.comodinSaltear){
                <a href='@Url.Action("ComodinSaltear","Home")'><img src="/assets/comodin1.png" class="imgComodin"/></a>
            } else {
                <img src="/assets/comodin1Usado.png" class="imgComodin">
            }
            @if(ViewBag.jug.comodin5050){
                <img src="/assets/comodin2.png" id="5050" class="imgComodin" onclick="Comodin5050()"/>
            } else {
                <img src="/assets/comodin2Usado.png" class="imgComodin"/>
            }
            @if(ViewBag.jug.comodinDobleChance){
                <img src="/assets/comodin3.png" id="DobleChance" id="DobleChance" class="imgComodin"/>
            } else {
                <img src="/assets/comodin3Usado.png" class="imgComodin"/>
            }
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-3 mb-5">
            <img class="img-fluid" src="/assets/logo.webp"/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-auto cont-preg-resp w-50 rounded-3 p-4">
            <div class="preg-resp fs-3" id="pregunta">@ViewBag.preg.textoPregunta</div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4 cont-preg-resp cont-resp w-25 rounded-3 mx-5 p-2" id="A" style="display: block;" onclick="ChequearRespuesta('@ViewBag.listResp[0].opcionRespuesta')">
            <div class="preg-resp fs-5" id="a">@ViewBag.listResp[0].opcionRespuesta - @ViewBag.listResp[0].textoRespuesta</div>
        </div>
        <div class="col-4 cont-preg-resp cont-resp w-25 rounded-3 mx-5 p-2" id="B" style="display: block;" onclick="ChequearRespuesta('@ViewBag.listResp[1].opcionRespuesta')">
            <div class="preg-resp fs-5" id="b">@ViewBag.listResp[1].opcionRespuesta - @ViewBag.listResp[1].textoRespuesta</div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4 cont-preg-resp cont-resp w-25 rounded-3 mx-5 p-2" id="C" style="display: block;" onclick="ChequearRespuesta('@ViewBag.listResp[2].opcionRespuesta')">
            <div class="preg-resp fs-5" id="c">@ViewBag.listResp[2].opcionRespuesta - @ViewBag.listResp[2].textoRespuesta</div>
        </div>
        <div class="col-4 cont-preg-resp cont-resp w-25 rounded-3 mx-5 p-2" id="D" style="display: block;" onclick="ChequearRespuesta('@ViewBag.listResp[3].opcionRespuesta')">
            <div class="preg-resp fs-5" id="d">@ViewBag.listResp[3].opcionRespuesta - @ViewBag.listResp[3].textoRespuesta</div>
        </div>
    </div>
    <div class="mx-auto fs-1 text-center bg-success rounded" id="msgCorrecto" style="display: none; width: 25%;">
        Correcta!
    </div>

    <a class="btn btn-warning sigPreg rounded-3 p-2" type="button" style="display: none; text-decoration: none;"  href='@Url.Action("Retirarse", "Home")'>
        <div class="fs-5">Retirarse</div>
    </a>
    <a class="btn btn-success sigPreg rounded-3 p-2" type="button" style="display: none; text-decoration: none;"  href='@Url.Action("SiguientePreg", "Home")'>
        <div class="fs-5">Siguiente pregunta ></div>
    </a>

    <table class="table position-absolute top-50 start-0 translate-middle-y text-center listaPozo" style="width:10%; margin-left:2%; background-color: rgb(5, 5, 54); color: #FFFFFF; border: 3px solid #FFB949;">
        <tbody>
            
            @for (int i = 0; i < ViewBag.listPozo.Count; i++)
            {
                if(i == ViewBag.posicionPozo){
                    <th scope="row" style="background-color: #fc9f0a; color:black;">$@ViewBag.listPozo[i].importe</th>
                }else if(i < ViewBag.posicionPozo){
                    <th scope="row" style="background-color: gray; color:black;">$@ViewBag.listPozo[i].importe</th>
                }else if(ViewBag.listPozo[i].valorSeguro){
                    <th scope="row" style="color:#FFB949;">$@ViewBag.listPozo[i].importe</th>
                } else{
                    <th scope="row">$@ViewBag.listPozo[i].importe</th>
                }
                <tr></tr>
            }
        </tbody>
    </table>
</body>
<script>
    let dobleChance;

    function cargarDobleChance()
    {
        dobleChance = '@ViewBag.jug.comodinDobleChance'; 
    }

    function ChequearRespuesta(opcion) {
        $.ajax(
			{
				type: 'POST',
				datatype: 'JSON',
				url: '@Url.Action("ChequearRespuestaAjax","Home")',
				data: { opcion: opcion },
				success:
					function (response)
					{
						if(response != null){
                            if(response) {
                                $(".sigPreg").css("display", "block");
                                $("#msgCorrecto").css("display", "block");
                                $(".cont-resp").css("display", "none");
                            } else {
                                if (DobleChance == 'True') {
                                    alert("COCK");
                                    ComodinDobleChance(opcion);
                                } else {
                                    $(location).attr('href','@Url.Action("Derrota", "Home")');
                                }
                            }
                        }
					}
			}
		)
    }

    function Comodin5050() {
        $.ajax(
			{
				type: 'POST',
				datatype: 'JSON',
				url: '@Url.Action("Comodin5050","Home")',
				success:
					function (response)
					{
                        $('#5050').attr("src", "/assets/comodin2Usado.png");
                        response.forEach(C => {
                            $('#' + C).css("display", "none");
                        })
					}
			}
		)
    }

    function ComodinDobleChance(opcion) {
        $.ajax(
			{
				type: 'POST',
				datatype: 'JSON',
				url: '@Url.Action("ComodinDobleChance","Home")',
				success:
					function (response)
					{
                        alert("ok");
                        DobleChance = 'False';
                        $('#DobleChance').attr("src", "/assets/comodin3Usado.png");
                        $('#' + opcion).css("background-color", "red");
					}
			}
		)
    }
</script>